lecciones/01-abm/abm-clientes

lecciones/01-abm/datos/salida/

*.bak

lecciones/02-corte-control/corte-control
lecciones/02-corte-control/datos/salida/
lecciones/03-apareo-archivos/apareo-archivos
lecciones/03-apareo-archivos/datos/salida/
